# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Added by Cargo
debug
target
**/*.rs.bk
**/mutants.out*/
/target

# Zig build system
zig-cache
.zig-cache
zig-out

# Custom ignores
.vscode
.vs
bin
build
result

generated.txt
Water-Main.json
full_dataset.bin
larger_book.bin

benchmarks/sprt/water-**.pgn
benchmarks/sprt/**.json
benchmarks/perft/epd/results.txt

release/
tb/
.DS_Store
